.bgn{
    animation: fade-in 2s ease-in-out;
  }

.carousel-container {
    animation: slide-in 1s ease-in-out;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }